@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <img src="~/img/bible.png" class="img-fluid" style="height:auto; width:900px;" />
                <a href="#" class="btn btn-success my-2">Read the Bible Now</a>
                <a href="#" class="btn btn-secondary my-2">Create/ Login</a>
            </div>
        </div>
    </section>
</div>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3 align-items-stretch">
    <div class="card text-center border-light">
        <div class="card-body">
            <div class="feature-icon">
                <h1 class="display-3"><i class="bi bi-globe"></i></h1>
            </div>
            <h5 class="card-title">AVALABLE IN YOUR LANGUAGE &amp; VERSION</h5>
            <p class="card-text">Choose from more than 1,200 Bible versions in over 900 languages on your computer, phone, or tablet -- with many available as audio Bibles.</p>
        </div>
            <div class="card-footer border-light">
                <a href="#">View Bible Versions</a>
            </div>
    </div>
    <div class="card text-center border-light">
        <div class="card-body">
            <div class="feature-icon">
                <h1 class="display-3"><i class="bi bi-pencil"></i></h1>
            </div>
            <h5 class="card-title">MAKE IT YOUR BIBLE</h5>
            <p class="card-text">Highlight or Bookmark your favorite verses, make Verse Images that you can share, and create public or private Notes to Bible passages.</p>
        </div>
            <div class="card-footer border-light">
                <a href="#">Create Your Free Account</a>
            </div>
    </div>
    <div class="card text-center border-light">
        <div class="card-body">
            <div class="feature-icon">
                <h1 class="display-3"><i class="bi bi-download"></i></h1>
            </div>
            <h5 class="card-title">INSTALL THE APP NOW</h5>
            <p class="card-text">The Bible App is completely free, with no advertising and no in-app purchases.</p>
        </div>
            <div class="card-footer border-light">
                <a href="#">Download the Free Bible App</a>
            </div>
    </div>
</div>
